[submodule ".registry"]
	path = .registry
	url = https://github.com/blaserlab/universe
	shallow = true
	branch = HEAD
[submodule "blaseRtemplates"]
	path = blaseRtemplates
	url = https://github.com/blaserlab/blaseRtemplates
	shallow = true
	registered = true
[submodule "blaseRtools"]
	path = blaseRtools
	url = https://github.com/blaserlab/blaseRtools
	shallow = true
	registered = true
