[submodule ".registry"]
	path = .registry
	url = https://github.com/blaserlab/universe
	branch = HEAD
[submodule "ArchR"]
	path = ArchR
	url = https://github.com/GreenleafLab/ArchR
[submodule "CellChat"]
	path = CellChat
	url = https://github.com/sqjin/CellChat
	registered = false
[submodule "ChrAccR"]
	path = ChrAccR
	url = https://github.com/GreenleafLab/ChrAccR
[submodule "ChrAccRex"]
	path = ChrAccRex
	url = https://github.com/GreenleafLab/ChrAccRex
[submodule "DoubletFinder"]
	path = DoubletFinder
	url = https://github.com/blaserlab/DoubletFinder
[submodule "SeuratData"]
	path = SeuratData
	url = https://github.com/satijalab/seurat-data
	registered = false
[submodule "SeuratDisk"]
	path = SeuratDisk
	url = https://github.com/mojaveazure/seurat-disk
	registered = false
[submodule "TxDb.Drerio.UCSC.danRer11.ensGene"]
	path = TxDb.Drerio.UCSC.danRer11.ensGene
	url = https://github.com/blaserlab/TxDb.Drerio.UCSC.danRer11.ensGene
[submodule "blaseRdata"]
	path = blaseRdata
	url = https://github.com/blaserlab/blaseRdata
[submodule "blaseRtemplates"]
	path = blaseRtemplates
	url = https://github.com/blaserlab/blaseRtemplates
[submodule "blaseRtools"]
	path = blaseRtools
	url = https://github.com/blaserlab/blaseRtools
[submodule "datascience.curriculum"]
	path = datascience.curriculum
	url = https://github.com/blaserlab/datascience.curriculum
[submodule "genotyping.functions"]
	path = genotyping.functions
	url = https://github.com/blaserlab/genotyping.functions
[submodule "monocle3"]
	path = monocle3
	url = https://github.com/cole-trapnell-lab/monocle3
[submodule "muLogR"]
	path = muLogR
	url = https://github.com/demuellae/muLogR
[submodule "muReportR"]
	path = muReportR
	url = https://github.com/demuellae/muReportR
[submodule "muRtools"]
	path = muRtools
	url = https://github.com/demuellae/muRtools
[submodule "speedglm"]
	path = speedglm
	url = https://github.com/MarcoEnea/speedglm
